<div class="container txt-description">
  <div class="row justify-content-center">
    <p class="title">
      {{title1}}
    </p>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <!-- <p class="description">
        {{description1}}
      </p> -->
      <p innerHTML={{description1}} class="description">{{description1}}</p>
    </div>
    <div class="col-lg-6 col-md-12">
      <p innerHTML={{description2}} class="description">{{description2}}</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <p class="title">
      {{title2}}
    </p>

  </div>
  <p _ngcontent-c5 class="title"></p>
  <div _ngcontent-c5 class="row">
    <div _ngcontent-c5 class="col-xs-1 center-block text-center">
      <a _ngcontent-c5 href="https://www.grayll.io/" target="_blank">
        <img _ngcontent-c5 src="assets/logos/grayll-logo.png" alt="logo" class="img1">
      </a>
      &nbsp;&nbsp;
      <a _ngcontent-c5 href={{logo_url}} target="_blank">
        <img _ngcontent-c5 src={{logo}} alt="logo" class="img2">
      </a>
      &nbsp;&nbsp;
      <a _ngcontent-c5 href="https://xangle.io/" target="_blank">
        <img _ngcontent-c5 src="assets/logos/xangle-logo.png" alt="logo" class="img3">
      </a>
    </div>
  </div>

</div>